body {
	background-color: #0f0f0f;
}

.youtube {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: #4f4f4f;
}

.twitter {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: #4f4f4f;
}

.twitch {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: #4f4f4f;
}

.reddit {
	height: 250px;
	width: 250px;
	margin-top: -790px;
	margin-left: 275px;
	background-color: #4f4f4f;
}

.gmail {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 275px;
	background-color: #4f4f4f;
}

.whatsapp {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 275px;
	background-color: #4f4f4f;
}

.amazon {
	height: 250px;
	width: 250px;
	margin-top: -790px;
	margin-left: 540px;
	background-color: #4f4f4f;
}

.netflix {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 540px;
	background-color: #4f4f4f;
}

.trading {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 540px;
	background-color: #4f4f4f;
}

.amazona {
	height: 250px;
	width: 250px;
	margin-top: -790px;
	margin-left: 805px;
	background-color: #4f4f4f;
}

.netflixia {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 805px;
	background-color: #4f4f4f;
}

.pornhub {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 805px;
	background-color: #4f4f4f;
}
.amazoniana {
	height: 250px;
	width: 250px;
	margin-top: -790px;
	margin-left: 1070px;
	background-color: #505050;
}

.netflixiana {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 1070px;
	background-color: #4f4f4f;
}

.pornhubiana {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 1070px;
	background-color: #505050;
}
.amazonianaa {
	height: 250px;
	width: 250px;
	margin-top: -790px;
	margin-left: 1335px;
	background-color: #505050;
}

.netflixianaa {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 1335px;
	background-color: #4f4f4f;
}

.pornhubianaa {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 1335px;
	background-color: #505050;
}
.amazonianaaa {
	height: 250px;
	width: 250px;
	margin-top: -790px;
	margin-left: 1600px;
	background-color: #505050;
}

.netflixianaaa {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 1600px;
	background-color: #4f4f4f;
}

.pornhubianaaa {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 1600px;
	background-color: #505050;
}
